
<% if current_user.active %>
  <%= button_to 'Deactivate Account', toggle_active_user_path, :method => :get, :class => 'btn btn-danger pull-right' %>
<% else %>
  <%= button_to 'Activate Account', toggle_active_user_path, :method => :get, :class => 'btn btn-success pull-right' %>
<% end %>

<legend>Edit Profile</legend>

<div class="col-sm-10 col-sm-offset-1">
  <%= render 'form' %>
</div>
