<!-- app/views/user/show.html.erb -->

<div class="col-sm-10 col-sm-offset-1">
  <%= image_tag("#{@user.profile_picture}", alt: "Profile Picture") %>
  <h3><%= @user.username %></h3>
  <h4>Date joined: <%= @user.created_at %> </h4>
  <h4> <%= @user.current_city %> </h4>
</div>
