<div class="row">
  <div class="col-sm-12">
    <%= button_to "Add New City", new_city_path, :method => :get, :class => 'btn btn-info pull-right button' %>
  </div>
</div>

<div class="row">
  <% @cities.each do |city| %>
    <div class="col-sm-4">
      <h3> <%= link_to city.name, city_path(city), id: 'city' %> </h3>
      <%= image_tag("#{city.photo}", width: "300px") %>
    </div>
  <% end %>
  <br/>
</div>
