<h1>Cities</h1>
<% @cities.each do |city| %>
  <div class="col-sm-4">
    <h3> <%= link_to city.name, city_path(city) %> </h3>
    <img src="<%= city.photo %>"/>
  </div>
<% end %>
<br/>
<%= button_to "Add New City", new_city_path, :method => :get, :class => 'btn btn-info' %>
