<h1> <%= @city.name %> </h1>
<% @city.posts.each do |post| %>
  <h3> <%= post.title %> </h3>
  <p>
    <%= post.content %>
  </p>
  <%= button_to "Edit", edit_post_path(post[:city_id], post[:id]), :method => :get, :class => 'btn btn-info' %>
<% end %>
