/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-3.3.6.min
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Francois+One);
@import url(https://fonts.googleapis.com/css?family=Didact+Gothic);



 h1 {
   font-family: 'Francois One', sans-serif;
   text-shadow: 1px 1px grey;
 }

 h2 {
   font-family: 'Francois One', sans-serif;
 }

 h3 {
   font-family: 'Francois One', sans-serif;
 }

 legend {
   font-family: 'Francois One', sans-serif;
   font-size: 25px;
   text-align: center;
 }

 p {
   font-family: 'Didact Gothic', sans-serif !important;
   font-size: 1.2em;
   color: black;
 }

 a {
   text-decoration: none !important;
   color: #66a7b6;
 }

 a:hover {
   color: #1b6778
 }

 .navbar-brand {
   font-family: 'Francois One', sans-serif;
   font-style: italic;
 }

 .footer {
  background-color: #66a7b6;
  background-color: #F07575; /* fallback color if gradients are not supported */
  background-image: -webkit-linear-gradient(top, #fff, #66a7b6); /* For Chrome 25 and Safari 6, iOS 6.1, Android 4.3 */
  background-image: -moz-linear-gradient(top, #fff, #66a7b6); /* For Firefox (3.6 to 15) */
  background-image: -o-linear-gradient(top, #fff, #66a7b6); /* For old Opera (11.1 to 12.0) */
  background-image: linear-gradient(to bottom, #fff, #66a7b6); /* Standard syntax; must be last */
  margin-top: 200px;
  padding-left: 15%;
 }

 li {
   font-family: 'Francois One', sans-serif;
 }

#cta-button {
  border: none;
  background-color: rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Didact Gothic', sans-serif;
  letter-spacing: 0.1em;
}


 .about-block h3 {
   text-align: center;
 }
