// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button {
  margin: 5px;
  background-color: #66a7b6;
  font-family: 'Didact Gothic', sans-serif;
  color: white;
  letter-spacing: 0.2em;
}

.button:hover {
  margin: 5px;
  background-color: #2791a9;
  color: white;
}


.city {
  height: 130px;
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 30px;
  border-radius: 20px;
}

.city-name {
  text-align: center;
  margin-top: 30%;
}

.city-name a {
  text-decoration: none !important;
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 25px;
  text-shadow: 1px 1px 2px black;
}


.cities-title {
  text-align: center;
}
