// Place all the styles related to the cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.button {
  margin: 5px;
}

.jumbotron {

  background: url('./app/assets/images/jumbotron.jpeg');
  background-size: cover;
  background-position: center;
  margin-top: -50px;
  background-repeat: no-repeat;
  color: #EEE;
}
.jumbotron .container {
  height: 250px;
}

.about{
  border: solid;
  color: #083a63;
}

.img-rounded{
  height: 50px;
}

// #header {
//   color: #083a63;
//   text-align: center;
//   font-family: Futura,"Trebuchet MS",Arial,sans-serif;
// }

.city {
  height: 130px;
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 30px;
  border-radius: 20px;
}

.city-name {
  text-align: center;
  margin-top: 30%;
}

.city-name a {
  text-decoration: none !important;
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 25px;
  text-shadow: 1px 1px 2px black;
}


.cities-title {
  text-align: center;
}
